{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div class="container text-center">
    <p style="margin-top: 100px"><img src="{{AppSubUrl}}/img/404.png" alt="404"/></p>
    <hr/>
    <br>
    <p>Application Version: {{AppVer}}</p>
    <p>If you think this is an error, please open an issue <a href="{{AppSubUrl}}/hp/gogs/issues/new">Here</a>.</p>
</div>
{{template "ng/base/footer" .}}
