Package: gogs
Version: 0.5.13-1
Architecture: amd64
Maintainer: Hein-Pieter van Braam <hp@tmm.cx>
Installed-Size: 15466
Depends: libgo5, git
Section: devel
Priority: extra
Homepage: http://gogs.io/
Description: Gogs A self-hosted Git service written in Go
 The goal of this project is to make the easiest, fastest and most painless way
 to set up a self-hosted Git service. With Go, this can be done in independent
 binary distribution across ALL platforms that Go supports, including Linux,
 Mac OS X, and Windows.
