{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="setting-wrapper" class="main-wrapper">
    <div id="org-setting" class="container clear">
	<div id="setting-menu" class="grid-1-5 panel panel-radius left">
	    <p class="panel-header"><strong>About</strong></p>
	    <div class="panel-body">
		<ul class="menu menu-vertical switching-list grid-1-5 left">
		    <li><a href="{{AppSubUrl}}/about">About us</a></li>
		</ul>
	    </div>
	</div>
        <div class="grid-4-5 left">
             <div class="setting-content">
             </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}
