{{template "base/head" .}}
<div id="help-div">
	<div class="ui middle very relaxed page grid">
		<div id="help-links-div">
			<h2> NotABug Help </h2>
			<ul>
				<li><a href="{{AppSubUrl}}/about">About us</a></li>
			</ul>
		</div>
	</div>
</div>
{{template "base/footer" .}}
