{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="promo-wrapper">
    <div class="container clear">
        <div id="promo-logo" class="left">
            <img src="{{AppSubUrl}}/img/notabug-lg.png" alt="logo" />
        </div>
        <div id="promo-content">
            <h1>Gogs</h1>
            <h2>{{.i18n.Tr "app_desc"}}</h2>
            <form id="promo-form" action="{{AppSubUrl}}/user/login" method="post">
                {{.CsrfTokenHtml}}
                <input class="ipt ipt-large" id="username" name="uname" type="text" placeholder="{{.i18n.Tr "home.uname_holder"}}"/>
                <input class="ipt ipt-large" name="password" type="password" placeholder="{{.i18n.Tr "home.password_holder"}}"/>
                <input name="from" type="hidden" value="home">
                <button class="btn btn-black btn-large">{{.i18n.Tr "sign_in"}}</button>
                {{if .ShowRegistrationButton}}
                <button class="btn btn-green btn-large" id="register-button">{{.i18n.Tr "register"}}</button>
                {{end}}
            </form>
        </div>&nbsp;
    </div>
</div>
{{template "ng/base/footer" .}}
