{{template "base/head" .}}
<div id="outages-div">
	<div class="ui middle very relaxed page grid">
		<div id="outages-links-div">
			<h2> HELP </h2>
		</div>
	</div>
</div>
{{template "base/footer" .}}
